* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #eee;
  background: linear-gradient(0deg, #121, #242 50%, #353);
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.tj-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.tj-profile-frame {
  padding: 2em 3em;
  background-color: #eee;
  color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.tj-profile-image {
  width: 14em;
  border-radius: 50%;
  margin-bottom: 1em;
  border: 2px solid #fff;
}

a.icon,
svg {
  display: inline-block;
  vertical-align: text-top;
  padding: 0;
  margin: 0;
}

svg {
  width: 2em;
  height: 2em;
}

svg path {
  fill: currentColor;
}

a,
a:visited {
  color: #2d873b;
  text-decoration: none;
}

.tj-nowrap {
  white-space: nowrap;
}
